# ignore local files

# python cache files
__pycache__/
*.pvc
*.pyo

# python test files
*.pytest_cache/

# virtual environment (local)
.venv/
**/.venv/
venv/
**/venv/    

# environment variables
.env
**/.env
.env.prod
**/.env.prod
.env.test
**/.env.test

# log files (but keep folder to maintain structure)
logs/*.log

#instance files
/instance/

# dev environment settings
.vscode/