# ignore local files

# python cache files
__pycache__/
*.pvc
*.pyo

# python test files
*.pytest_cache/

# virtual environment (local)
.venv/
**/.venv/
venv/
**/venv/    

# environment variables
.env
**/.env

# log files
*.log

#instance files
/instance/
