/* stylesheet for password change page. Repurposed and edited version of login.css */

.password-form-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Arial;
  text-align: flex-start;
}

.button {
  background-color: #466da9;
  width: 100%;
  border-radius: 12px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Arial;
  text-decoration: none;
}

.form-group {
  margin-bottom: 15px;
}
