<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maxx Energy</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <h1>MAXX Energy Home Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel condimentum nibh. Nam sodales est et orci
        tincidunt
        convallis. Maecenas neque ex, feugiat quis condimentum id, vehicula ut nibh. Vestibulum venenatis iaculis odio
        varius
        aliquet. Vivamus non ex nisl. Ut imperdiet sed nisl volutpat sodales. Sed tempus orci at lorem dignissim
        rhoncus.</p>
    <a href="auth/login" class='button'>Log In HERE</a>
</body>

<!-- Login below has been moved to auth/templates/login.html -->
<!--
<body>
    <div class="login-container">
        <img src="static/images/maxx-logo.png" alt="Maxx Energy Logo" class="logo">
        <div class="brand-header">Maxx Energy Login</div>
        <form id="loginForm" action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="button">Log In</button>
        </form>
    </div>
</body>
-->

</html>