<!-- homepage, default route -->

<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}Welcome to Maxx Energy{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<h1>Welcome to Maxx Energy!</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat.
    In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla
    lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel
    class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
    <br><br>
    Mauris sagittis accumsan dui non suscipit. Curabitur non ante eu odio fringilla cursus. Nulla venenatis tortor non
    nibh posuere ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc
    posuere auctor diam vitae condimentum. Sed ornare, libero nec fermentum semper, nibh felis blandit mauris, sed
    luctus enim massa et dui. Integer iaculis in eros at pulvinar. In hac habitasse platea dictumst. Phasellus volutpat
    dui eget nisi, sed luctus dolor euismod. Morbi felis magna, ornare vitae pharetra sit amet, egestas non nisl.
</p>
<div class="image-container">
    <img src="{{ url_for('static', filename='images/stock-photo-trucks.jpg') }}" alt="Fleet of EV trucks" class="logo">
    <img src="{{ url_for('static', filename='images/maxx-gray-logo.png') }}" alt="Maxx Energy Logo" class="logo middle">
    <img src="{{ url_for('static', filename='images/stock-photo-worker.jpg') }}" alt="Worker" class="logo">
</div>
{% endblock %}

</html>