<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maxx Energy - Log In</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/submit.js"></script>
</head>

<body>
    <div>
        <a href="{{ url_for('home.home_page') }}" class="home-button">Back to Home</a>
    </div>
    <div class="login-container">
        <img src="../static/images/maxx-logo.png" alt="Maxx Energy Logo" class="logo">
        <div class="brand-header">Maxx Energy Login</div>
        <form id="loginForm" action="auth/login" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="button">Log In</button>
        </form>
    </div>
</body>


</html>