<!-- Temporary. show this page after successful login. Show user's name and their role. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maxx Energy - Welcome</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <h1>Welcome, {{ current_user.first_name }}!</h1>
    <p>You are logged in as: {{ current_user.role }}</p>
    <div class="button-container">
        <a href="{{ url_for('home.home_page') }}" class="home-button">Back to Home</a>
        <a href="{{ url_for('auth.logout') }}" class="button">Logout</a>
    </div>
</body>

</html>